// This file contains mixins and styles for handling icons and emojis in the project.

// Dependencies:
// - variables.scss: This file is used for importing variables.

// Mixins:
// - iconBase($filename, $margin: 0 3px 0 0): Base mixin for setting up icon styles with a mask image.
//   Parameters:
//   - $filename: The URL of the icon image.
//   - $margin: The margin around the icon (default: 0 5px).

// - monochromeIcon($filename): Mixin for setting up monochrome icons with a mask image and a background color.
//   Parameters:
//   - $filename: The URL of the icon image.

// - coloredIcon($filename): Mixin for setting up colored icons with a background image.
//   Parameters:
//   - $filename: The URL of the icon image.

// - emoji($filename): Mixin for setting up emoji styles with a background image.
//   Parameters:
//   - $filename: The URL of the emoji image.

@use 'variables.scss';

@mixin iconBase($filename, $margin: 0 3px 0 0) {
	margin: $margin;
	mask-size: contain;

	mask-image: url($filename);
}

@mixin monochromeIcon($filename) {
	@include iconBase($filename);

	background-color: var(--icons-color);
}

@mixin coloredIcon($filename) {
	background-image: url($filename);
	background-size: cover;
}

// Mixin for emoji styles
@mixin emoji($filename) {
	@include coloredIcon($filename);
}

// Icon styles
i.icon {
	display: inline-block;

	width: 1em;
	height: 1em;

	vertical-align: -0.125em;
	mask-position: center;
	mask-repeat: no-repeat;

	&.arrow {
		@include monochromeIcon('../icons/arrow.svg');
	}

	&.bolt {
		@include monochromeIcon('../icons/bolt.svg');
	}

	&.code {
		@include monochromeIcon('../icons/code.svg');
	}

	&.discord {
		@include coloredIcon('../icons/discord.svg');
	}

	&.github {
		@include monochromeIcon('../icons/github.svg');
	}

	&.globe {
		@include monochromeIcon('../icons/globe.svg');
	}

	&.location {
		@include monochromeIcon('../icons/location.svg');
	}

	&.medium {
		@include monochromeIcon('../icons/medium-circles.svg');
	}

	&.newspaper {
		@include monochromeIcon('../icons/newspaper.svg');
	}

	&.open {
		@include monochromeIcon('../icons/open.svg');
	}

	&.palette {
		@include monochromeIcon('../icons/palette.svg');
	}

	&.repo {
		@include monochromeIcon('../icons/repo.svg');
	}

	&.stack-overflow {
		@include coloredIcon('../icons/stack-overflow.svg');
	}

	&.table {
		@include monochromeIcon('../icons/table.svg');
	}

	&.telegram {
		@include coloredIcon('../icons/telegram.svg');
	}

	&.tools {
		@include monochromeIcon('../icons/tools.svg');
	}

	&.unsplash {
		@include monochromeIcon('../../other/Unsplash-symbol-dark.svg');
	}
}

// Emoji styles
i.emoji {
	width: 1.2em;
	height: 1.2em;

	display: inline-block;
	margin-right: 3px;

	&.hello {
		@include emoji('../emojis/hello.webp');
	}

	&.ua-flag {
		@include emoji('../emojis/ua-flag.webp');
	}
}
