@use 'variables.scss';
@use '../animations/keyframes.scss';

// Projects styles
.projects {
	display: flex;
	flex-wrap: wrap;

	gap: 10px;
	margin-bottom: 10px;
	align-items: flex-start;

	a {
		text-decoration: none;
	}

	.project-tab {
		--border-radius: 15px;
		border-radius: var(--border-radius);

		padding: 14px;
		width: -webkit-fill-available;
		height: auto;

		cursor: pointer;
		background-color: var(--project-tab-background-color);

		position: relative;
		flex: 1 1 230px;
		// Temporary fix for height issue
		min-height: 115.31px;

		box-shadow: var(--box-shadow);

		@media (prefers-reduced-motion: no-preference) {
			transition: transform 0.3s ease-in-out;
		}

		&:hover {
			transform: translateY(-10px);

			.project-header .icon.open {
				opacity: 1;
			}

			&::before {
				opacity: 0.3;
			}
		}

		.project-header {
			display: flex;
			justify-content: space-between;

			align-items: stretch;
			margin: 0;

			.icon.open {
				opacity: 0;

				@media (prefers-reduced-motion: no-preference) {
					transition: opacity 0.3s ease-in-out;
				}
			}

			.repo {
				display: inline-flex;
				align-items: center;

				flex-wrap: nowrap;
				flex-direction: row;

				.icon {
					margin-right: 5px;
				}

				.name {
					font-size: 17px;
					text-wrap-mode: nowrap;

					color: var(--text-color);
				}
			}
		}

		.description p {
			font-size: 12px;
			color: var(--project-tab-description-text-color);

			margin: 4px 0 0;
			text-wrap-mode: wrap;
			// white-space: pre-line
		}

		&::before {
			content: '';
			z-index: -9999;

			position: absolute;

			top: 0;
			bottom: 0;
			right: 0;
			left: 0;

			background: linear-gradient(-45deg, #e81cff, #40c9ff);
			transform: translateZ(0) scale(0.9);

			filter: blur(20px);
			opacity: 0;
			border-radius: inherit;

			@media (prefers-reduced-motion: no-preference) {
				transition: opacity 0.3s;
			}
		}

		&::after {
			content: '';
			z-index: -1;

			position: absolute;

			top: 0;
			bottom: 0;
			right: 0;
			left: 0;

			background: inherit;
			border-radius: inherit;
		}
	}
}
