@use '../animations/keyframes.scss'; // Keyframes for animations
@use 'variables.scss'; // Theme colors
@use '../effects/sparks.scss';

// Importing Google fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');

// Global styles
* {
	box-sizing: border-box;
}

// Body styles
body {
	margin: 0;
	overflow-x: hidden;

	background-color: var(--background-color);
	color: var(--text-color);
	cursor: default;

	background-image: url('../assets/noise.svg');

	// Remove scrollbar
	-ms-overflow-style: none;

	// https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp
	&::-webkit-scrollbar {
		display: none;
	}
}

::selection {
	background-color: #00ffea73;
}

// Font family styles
h1,
h2,
h3,
h4 {
	font-family: 'Raleway', sans-serif;
}

p,
a,
span {
	font-family: 'Readex Pro', sans-serif;
}

// Heading styles
h1 {
	font-size: 40px;
	// margin-block: 50px;
	margin: 0;
}

// Paragraph styles
p {
	font-size: 20px;
}

// Bold text styles
b {
	font-weight: 500;
}

// Link styles
a {
	color: var(--link-color);
	white-space: nowrap;

	&:hover {
		color: var(--link-hover-color);
	}

	@media (prefers-reduced-motion: no-preference) {
		transition: color 0.15s ease-in-out;
	}
}

// Center alignment
.center {
	align-self: center;
	text-align: center;
}

@media (max-width: 550px) {
	#rock {
		top: -60px;
		left: -60px;
	}

	.content {
		width: 100%;

		.profile-card .info .name {
			font-size: 50px;
		}
	}
}
