/**
 * Theme Toggle Button Styles
 *
 * This SCSS file contains styles for a theme toggle button that allows users to switch between light and dark themes.
 */
@use "variables.scss";

// Theme toggle button styles
.theme-toggle {
	background: none;
	border: none;

	padding: 0;
	inline-size: var(--size);
	block-size: var(--size);

	position: absolute;

	top: 30px;
	right: 30px;

	border-radius: 50%;
	cursor: pointer;
	touch-action: manipulation;

	-webkit-tap-highlight-color: transparent;
	z-index: 9999;
	width: 40px;

	& > svg {
		inline-size: 100%;
		block-size: 100%;

		stroke-linecap: round;
	}

	.sun-and-moon {
		.moon,
		.sun,
		.sun-beams {
			transform-origin: center center;
		}

		.moon,
		.sun {
			fill: var(--theme-switch-color);
		}

		.sun-beams {
			stroke: var(--theme-switch-color);
			stroke-width: 2px;
		}

		@media (prefers-reduced-motion: no-preference) {
			.sun {
				transition: transform 0.5s var(--ease-elastic-3);
			}

			.sun-beams {
				transition: transform 0.5s var(--ease-elastic-4), opacity 0.5s var(--ease-3);
			}

			.moon > circle {
				transition: transform 0.25s var(--ease-out-5);
			}

			@supports (cx: 1) {
				.moon > circle {
					transition: cx 0.25s var(--ease-out-5);
				}
			}
		}
	}

	&:hover,
	&:focus-visible {
		.sun-and-moon {
			.moon,
			.sun {
				fill: var(--theme-switch-hover-color);
			}

			.sun-beams {
				stroke: var(--theme-switch-hover-color);
			}
		}
	}

	&[aria-label="dark"] {
		.sun-and-moon {
			.sun {
				transform: scale(1.75);
			}
			.sun-beams {
				opacity: 0;
			}
			.moon > circle {
				transform: translate(-7px);

				@supports (cx: 1) {
					transform: translate(0);
					cx: 17;
				}
			}

			@media (prefers-reduced-motion: no-preference) {
				.sun {
					transform: scale(1.75);
					transition-timing-function: var(--ease-3);

					transition-duration: 0.25s;
				}

				.sun-beams {
					transform: rotate(-25deg);

					transition-duration: 0.15s;
				}

				.moon > circle {
					transition-delay: 0.25s;

					transition-duration: 0.5s;
				}
			}
		}
	}
}
